
<%- include('../header')-%>
<div class="container bg">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center pt-5" id="login">
        <div class="container border py-5">
          <div class="title">
           
            
            <h2 class="font-weight-bold heading-clr text-capitalize"> Login</h2>
            
          </div>
       
          <form action="" method="POST" class="pt-3">
            <% if(locals.message){ %>
            <div>
              <p class="text-danger"><%= message %></p>
            </div>
            <% } %>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="newPassword"
                required
              /><br />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                name="confirmPassword"
                required
              /><br />
            </div>
         
            <button type="submit" class="btn btn-bg btn-block mt-3 mb-3">
                Reset Password 
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../footer') -%>
